In [52]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

you can refer to this article to find out about apriori and association rule:
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [53]:
# load the data set and show the first five transaction
dt = pd.read_csv('https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv')
dt.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

Get the unique product that has been purchased

In [54]:
unique_items = set()
for i in range(0, len(dt)):
    for j in range(0, len(dt.columns)):
        unique_items.add(dt.values[i,j])
unique_items = list(unique_items)
print(unique_items)

['Bagel', 'Wine', 'Eggs', 'Milk', 'Pencil', 'Diaper', 'Cheese', nan, 'Bread', 'Meat']

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [55]:
#create an itemset based on the products
itemset = []
for i in range(0, len(dt)):
    itemset.append([str(dt.values[i,j]) for j in range(0, len(dt.columns))])
print(itemset)
# encoding the feature
te = TransactionEncoder()
te_ary = te.fit(itemset).transform(itemset)

[['Bread', 'Wine', 'Eggs', 'Meat', 'Cheese', 'Pencil', 'Diaper'], ['Bread', 'Cheese', 'Meat', 'Diaper', 'Wine', 'Milk', 'Pencil'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Meat', 'Pencil', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Bread', 'Wine', 'Pencil', 'Milk', 'Diaper', 'Bagel'], ['Wine', 'Pencil', 'Eggs', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper', 'nan', 'nan'], ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs', 'nan'], ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'], ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat', 'nan', 'nan'], ['Bagel', 'Cheese', 'Milk', 'Meat', 'nan', 'nan', 'nan'], ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs', 'nan'], ['Meat', 'Pencil', 'Cheese', 'Bread', 'nan', 'nan', 'nan'], ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'], ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper', 'nan', 'nan'], ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat', 'nan', 'nan'], ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese', 'nan'], ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'], ['Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper', 'nan'], ['Diaper', 'Meat', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine', 'nan', 'nan'], ['Cheese', 'Milk', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel', 'nan', 'nan'], ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'], ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Wine', 'Meat', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Wine', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread', 'nan', 'nan'], ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs', 'nan'], ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'], ['Diaper', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'], ['Milk', 'Pencil', 'Cheese', 'Bagel', 'nan', 'nan', 'nan'], ['Meat', 'Cheese', 'Diaper', 'Wine', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper', 'nan'], ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs', 'nan', 'nan'], ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs', 'nan'], ['Pencil', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil', 'nan'], ['Bread', 'Bagel', 'Milk', 'Diaper', 'nan', 'nan', 'nan'], ['Eggs', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Milk', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'], ['Pencil', 'Milk', 'Meat', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Diaper', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bagel', 'Pencil', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine', 'nan', 'nan'], ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat', 'nan'], ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread', 'nan', 'nan'], ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'], ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'], ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'], ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Diaper', 'Bread', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Pencil', 'Wine', 'Meat', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil', 'nan'], ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Diaper', 'Wine', 'Meat', 'Eggs', 'nan', 'nan', 'nan'], ['Meat', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Wine', 'Bread', 'Milk', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'], ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'], ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs', 'nan', 'nan'], ['Bread', 'Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'], ['Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat', 'nan', 'nan'], ['Bagel', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Pencil', 'Diaper', 'Wine', 'Meat', 'nan', 'nan'], ['Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Wine', 'Bagel', 'Eggs', 'Diaper', 'nan', 'nan'], ['Bread', 'Meat', 'Milk', 'Cheese', 'Wine', 'Eggs', 'Pencil'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Milk', 'Bagel', 'Wine', 'nan', 'nan', 'nan'], ['Cheese', 'Pencil', 'Meat', 'Eggs', 'Milk', 'Bagel', 'Wine'], ['Cheese', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Pencil', 'Milk', 'Bread', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bread', 'Wine', 'Diaper', 'Bagel', 'nan', 'nan'], ['Bagel', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Diaper', 'Eggs', 'Cheese', 'Bagel', 'nan', 'nan'], ['Bread', 'Pencil', 'Bagel', 'Eggs', 'nan', 'nan', 'nan'], ['Milk', 'Eggs', 'Meat', 'Cheese', 'Bread', 'Wine', 'Pencil'], ['Pencil', 'Eggs', 'Meat', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Meat', 'Cheese', 'Eggs', 'Pencil', 'nan'], ['Milk', 'Eggs', 'Bread', 'Cheese', 'nan', 'nan', 'nan'], ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Meat', 'Bread', 'Bagel', 'Cheese', 'nan', 'nan'], ['Wine', 'Eggs', 'Bread', 'Diaper', 'nan', 'nan', 'nan'], ['Meat', 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Bread', 'nan'], ['Meat', 'Cheese', 'Bread', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Milk', 'Pencil', 'Eggs', 'Bread', 'Meat', 'nan'], ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Eggs', 'Bagel', 'Diaper', 'Milk', 'Meat', 'Pencil'], ['Milk', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Eggs', 'Meat', 'Wine', 'Bagel', 'Diaper', 'Bread'], ['Diaper', 'Bagel', 'Bread', 'Pencil', 'Cheese', 'Milk', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Wine', 'Meat', 'Bagel', 'nan', 'nan', 'nan'], ['Cheese', 'Diaper', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Wine', 'Cheese', 'Meat', 'Pencil', 'Eggs', 'nan', 'nan'], ['Eggs', 'Bagel', 'Pencil', 'Wine', 'Cheese', 'nan', 'nan'], ['Bagel', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Milk', 'Pencil', 'Wine', 'Eggs', 'Bagel', 'nan'], ['Milk', 'Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Cheese', 'Milk', 'Meat', 'Bread', 'Eggs', 'nan'], ['Meat', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Milk', 'Wine', 'Pencil', 'Cheese', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Cheese', 'nan', 'nan'], ['Bread', 'Pencil', 'Diaper', 'Cheese', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Eggs', 'Bagel', 'Meat', 'Diaper', 'Pencil', 'Milk', 'Bread'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Meat', 'Wine', 'Pencil', 'Bread', 'nan', 'nan'], ['Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Pencil', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Milk', 'Eggs', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Cheese', 'Eggs', 'Milk', 'Meat', 'Pencil', 'Bread'], ['Bagel', 'Diaper', 'Pencil', 'Milk', 'Meat', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Bread', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Cheese', 'Milk', 'Diaper', 'Pencil', 'nan', 'nan'], ['Milk', 'Pencil', 'Bagel', 'Wine', 'Eggs', 'Meat', 'nan'], ['Wine', 'Milk', 'Eggs', 'Bread', 'Meat', 'nan', 'nan'], ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Diaper', 'Pencil', 'Meat', 'Wine', 'nan', 'nan'], ['Cheese', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Diaper', 'Wine', 'Bread', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'Diaper', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Meat', 'Pencil', 'Eggs', 'Cheese', 'Milk', 'Wine'], ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'nan', 'nan'], ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'nan', 'nan'], ['Bread', 'Wine', 'Diaper', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Wine', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'], ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'Milk', 'nan'], ['Wine', 'Pencil', 'Eggs', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper', 'nan', 'nan'], ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs', 'nan'], ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'], ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat', 'nan', 'nan'], ['Bagel', 'Cheese', 'Milk', 'Meat', 'nan', 'nan', 'nan'], ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs', 'nan'], ['Meat', 'Pencil', 'Cheese', 'Bread', 'nan', 'nan', 'nan'], ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'], ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper', 'nan', 'nan'], ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat', 'nan', 'nan'], ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese', 'nan'], ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'], ['Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper', 'nan'], ['Diaper', 'Meat', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine', 'nan', 'nan'], ['Cheese', 'Milk', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel', 'nan', 'nan'], ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'], ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Wine', 'Meat', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Wine', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread', 'nan', 'nan'], ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs', 'nan'], ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'], ['Diaper', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'], ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'], ['Milk', 'Pencil', 'Cheese', 'Bagel', 'nan', 'nan', 'nan'], ['Meat', 'Cheese', 'Diaper', 'Wine', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper', 'nan'], ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs', 'nan', 'nan'], ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs', 'nan'], ['Pencil', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil', 'nan'], ['Bread', 'Bagel', 'Milk', 'Diaper', 'nan', 'nan', 'nan'], ['Eggs', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Milk', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'], ['Pencil', 'Milk', 'Meat', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Diaper', 'Wine', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Bagel', 'Pencil', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine', 'nan', 'nan'], ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat', 'nan'], ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread', 'nan', 'nan'], ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'], ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'], ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'], ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Wine', 'Diaper', 'Bread', 'Cheese', 'nan', 'nan', 'nan'], ['Bagel', 'Pencil', 'Wine', 'Meat', 'nan', 'nan', 'nan'], ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil', 'nan'], ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel', 'nan', 'nan'], ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'], ['Diaper', 'Wine', 'Meat', 'Eggs', 'nan', 'nan', 'nan'], ['Meat', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Pencil', 'Wine', 'Bread', 'Milk', 'nan', 'nan', 'nan'], ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'], ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'], ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine', 'nan', 'nan'], ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'], ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs', 'nan', 'nan'], ['Bread', 'Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan'], ['Meat', 'Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan'], ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'], ['Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'], ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat', 'nan', 'nan']]

In [56]:
  # create new dataframe from the encoded features
itemset_te_encoded = pd.DataFrame(te_ary, columns=te.columns_)
  # show the new dataframe
itemset_te_encoded.head()

   Bagel  Bread  Cheese  Diaper   Eggs  Meat   Milk  Pencil  Wine    nan
0  False   True    True    True   True  True  False    True  True  False
1  False   True    True    True  False  True   True    True  True  False
2  False  False    True   False   True  True   True   False  True   True
3  False  False    True   False   True  True   True   False  True   True
4  False  False   False   False  False  True  False    True  True   True

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [57]:
# drop the nan column
itemset_te_encoded.drop(['nan'], axis=1, inplace=True)
itemset_te_encoded.head()

   Bagel  Bread  Cheese  Diaper   Eggs  Meat   Milk  Pencil  Wine
0  False   True    True    True   True  True  False    True  True
1  False   True    True    True  False  True   True    True  True
2  False  False    True   False   True  True   True   False  True
3  False  False    True   False   True  True   True   False  True
4  False  False   False   False  False  True  False    True  True

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [58]:
frequent_itemsets = apriori(itemset_te_encoded, min_support=0.2, use_colnames=True)
frequent_itemsets.head()

    support  itemsets
0  0.425397   (Bagel)
1  0.504762   (Bread)
2  0.501587  (Cheese)
3  0.406349  (Diaper)
4  0.438095    (Eggs)

Then, we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [59]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650,0.402687
1,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203,0.469167
2,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891,0.526414
3,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540,0.500891
4,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053

Provide explanation about __antecedent support__, __consequent support__, __support__, __confidence__, __lift__, __leverage__ and __conviction__

Antecedent Support: For the rule with "Bagel," about 43% of the shopping trips include buying a bagel.

Consequent Support: Thinking about the rule with "Bread," roughly half of the shopping trips involve buying bread.

Support: In the rule with "Bagel" and "Bread," almost 28% of the shopping trips have both bagels and bread in the cart.

Confidence: Looking at the "Bagel" and "Bread" rule, when someone buys bagels, there's a 66% chance they'll also buy bread.

Lift: For the "Bagel" and "Bread" rule, the chance of buying bread when you buy bagels is 30% higher compared to when they're bought independently.

Leverage: In the "Bagel" and "Bread" rule, there's a small boost in the number of times bagels and bread are bought together compared to what we'd expect if they were bought separately.

Conviction: For the "Bagel" and "Bread" rule, the likelihood of buying bagels without buying bread is 1.44 times higher than what we'd expect if there wasn't a connection between them.